.hero__content h2 {
  line-height: 55px;
  font-size: 4rem;
}

.hero__content h2 span {
  background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
  display: inline-block;
}

.hero__img {
  width: 800px;

}



